<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaBVBPmK-SVpaMm5l9HFkUAXZ-NNaJLBw</string>
	<key>GCM_SENDER_ID</key>
	<string>96716098754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tokat-3cbdc</string>
	<key>STORAGE_BUCKET</key>
	<string>tokat-3cbdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96716098754:ios:d770dffca5278b435abf5b</string>
</dict>
</plist>